In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import ast

In [2]:
df_business= pd.read_csv("./databusinessML2.csv")
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114118 entries, 0 to 114117
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    114118 non-null  int64
 1   business_id   114118 non-null  object
 2   name          114118 non-null  object
 3   address       114118 non-null  object
 4   city          114118 non-null  object
 5   state         114118 non-null  object
 6   postal_code   114118 non-null  object
 7   latitude      114118 non-null  float64
 8   longitude     114118 non-null  float64
 9   stars         114118 non-null  float64
 10  review_count  114118 non-null  int64
 11  is_open       114118 non-null  int64
 12  attributes    114118 non-null  object
 13  categories    114118 non-null  object
 14  hours         114118 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 13.1+ MB

In [3]:
df_business.head()

,Unnamed: 0,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
1,1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
2,2,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,615 S Main St,Ashland City,AZ,37015,36.269593,-87.058943,2.0,6,1,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '..."
3,3,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,PA,63144,38.627695,-90.340465,2.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ..."
4,4,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,2312 Dickerson Pike,Nashville,MO,37207,36.208102,-86.768170,1.5,10,1,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '..."

In [4]:
df_business=df_business.drop(columns=['Unnamed: 0','address','state','postal_code','latitude','longitude','review_count','is_open','hours'])

In [5]:
df_business.head()

,business_id,name,city,stars,attributes,categories
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
2,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
3,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,Brentwood,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,1.5,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."

In [6]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114118 entries, 0 to 114117
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  114118 non-null  object
 1   name         114118 non-null  object
 2   city         114118 non-null  object
 3   stars        114118 non-null  float64
 4   attributes   114118 non-null  object
 5   categories   114118 non-null  object
dtypes: float64(1), object(5)
memory usage: 5.2+ MB

In [7]:
df_business.to_csv('./businessmodelo.csv')

In [8]:
df_review = pd.read_json("./review.json", lines=True, nrows=100000)

In [9]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  int64
 4   useful       100000 non-null  int64
 5   funny        100000 non-null  int64
 6   cool         100000 non-null  int64
 7   text         100000 non-null  object
 8   date         100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 6.9+ MB

In [10]:
df_review=df_review.drop(columns=['funny','cool','text','date','useful'])

In [11]:
df_review.head()

,review_id,user_id,business_id,stars
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4

In [12]:
import pyarrow.parquet as pq
table = pq.read_table('./user.parquet')

df_user = table.to_pandas()

In [13]:
df_user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [14]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2105597 entries, 0 to 2105596
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 353.4+ MB

In [15]:
columnas_a_eliminar = [
    'yelping_since',
    'useful',
    'funny',
    'cool',
    'elite',
    'friends',
    'fans',
    'average_stars',
    'compliment_hot',
    'compliment_more',
    'compliment_profile',
    'compliment_cute',
    'compliment_list',
    'compliment_note',
    'compliment_plain',
    'compliment_cool',
    'compliment_funny',
    'compliment_writer',
    'compliment_photos'
]

# Elimina las columnas del DataFrame
df_user = df_user.drop(columns=columnas_a_eliminar)
df_user.head()

                  user_id    name  review_count
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333
2  2WnXYQFK0hXEoTxPtV2zvg   Steph           665
3  SZDeASXq7o05mMNLshsdIA    Gwen           224
4  hA5lMy-EnncsH4JoR-hFGQ   Karen            79

In [16]:
df_user.columns

Index(['user_id', 'name', 'review_count'], dtype='object')

In [17]:
df_review.info

<bound method DataFrame.info of                     review_id                 user_id             business_id  \
0      KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1      BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2      saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3      AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4      Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
...                       ...                     ...                     ...
99995  pAEbIxvr6ebx2bHc1XvguA  SMH5CeiLvKx61lKwtLZ_PA  lV0k3BnslFRkuWD_kbKd0Q
99996  xH1AoE-4nf2ECGQJRjO4_g  2clTdtp-BjphxLjN83CpUA  G0xz3kyRhRi6oZl7KfR0pA
99997  GatIbXTz-WDru5emONUSIg  MRrN6DH3QGCFcDv5RENYVg  C4lZdhasjZVQyDlOiXY1sA
99998  6NfkodAdhvI89xONXuBC3A  rnNQzeKJbvqVCsYsL10mkQ  dChRGpit9fM_kZK5pafNyA
99999  sJ1BMq7lkKgOWEFx3n6ZRw  _BcWyKQL16ndpBdggh2kNA  hMcgO98QaOFmQVTfCUeGzw

       stars
0          3
1          5
2          3
3          5
4          4
...      ...
99995      4
99996      1
99997      4
99998      2
99999      5

[100000 rows x 4 columns]>

In [18]:
df_business.columns

Index(['business_id', 'name', 'city', 'stars', 'attributes', 'categories'], dtype='object')

In [19]:

# Combinar los datos de df_review_filtered y df_user
df_combined = pd.merge(df_review, df_user[['user_id', 'name', 'review_count']], on='user_id', how='inner')

# Renombrar las columnas para mayor claridad
df_combined.rename(columns={'name': 'user_name', 'review_count': 'user_review_count'}, inplace=True)

In [20]:
df_combined.sample(5)

,review_id,user_id,business_id,stars,user_name,user_review_count
13808,zykXlH61a9SCIDPvCxiR8Q,MabER3zAxbKL6bIA0g7r6A,DOEdwWznWZ3wx6tsNk28Bg,5,Cory,9
96002,V8R1t8dj4LD6j6UV1uSblw,hByUtyZ0_NJRZ7SC7mC-FQ,AfassS1QI0DHsqwuof9-lA,4,Kerry,160
19711,rPxnJaSK3_8T0zS5VWDEyA,DjtgR3zHD7Rk1qwygjd9wg,_owHO6DTYU-XVP8jAcgZFw,1,Alexander,14
77927,p6o2u4rbCIIG1kdWTDvlfQ,2lET6b1OTE8KK-o3qMm3ow,GBTPC53ZrG1ZBY3DT8Mbcw,5,Lorraine,22
160509,y5n71fJfwLH3aGfGbIVpTQ,t-J0y_jCwDoVtXpLEIZuew,vN6v8m4DO45Z4pp8yxxF_w,4,Brittany,69

In [69]:
user_id_buscado = 'TkfGDl_w00GsYjMY0-HkHA'
registro_usuario = df_user[df_user['user_id'] == user_id_buscado]
registro_usuario

                       user_id name  review_count
157958  TkfGDl_w00GsYjMY0-HkHA  Kay            62

In [63]:
df_combined.info

<bound method DataFrame.info of                      review_id                 user_id  \
0       KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA
1       PBIeDysdBxwY53IFnOPyUw  mh_-eMZ6K5RLWhZyISBhwA
2       BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q
3       sk6u1nDJVafRvfID_b8BKQ  OyoGAe7OKpv6SyGZT5g77Q
4       saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A
...                        ...                     ...
173700  xpW9UEngu3y0pvBXrX8APA  4U-B7eoygddIyuLaDmNt4A
173701  WfFp7POMpxbzzAGCCYwTWQ  x_mCS124Gjg9kN7s7A44tg
173702  pAEbIxvr6ebx2bHc1XvguA  SMH5CeiLvKx61lKwtLZ_PA
173703  xH1AoE-4nf2ECGQJRjO4_g  2clTdtp-BjphxLjN83CpUA
173704  GatIbXTz-WDru5emONUSIg  MRrN6DH3QGCFcDv5RENYVg

                   business_id  stars        user_name  user_review_count
0       XQfwVwDr-v0ZS3_CbbE5Xw      3          Melanie                 33
1       d_tRshM-w6S4QxE4VVi8tQ      3          Melanie                 33
2       7ATYjTIgM3jUlt4UM3IypQ      5             Erin                 10
3       qjGS_7iaQDpbVhS6W8qkHQ      5             Erin                 10
4       YjUWPpI6HXG530lwP-fb2A      3            Debra               1332
...                        ...    ...              ...                ...
173700  SwWfW3vBn5QkDE7T3urGAg      1         Pranitha                 18
173701  VOEN8f9WEysinBsLqbiVqg      2  Michele Joubert                  3
173702  lV0k3BnslFRkuWD_kbKd0Q      4          Lanette                 47
173703  G0xz3kyRhRi6oZl7KfR0pA      1        Elizabeth                 24
173704  C4lZdhasjZVQyDlOiXY1sA      4            James                 51

[173705 rows x 6 columns]>

In [59]:
df_user.info

<bound method DataFrame.info of                         user_id         name  review_count
0        qVc8ODYU5SZjKXVBgXdI7w       Walker           585
1        j14WgRoU_-2ZE1aw1dXrJg       Daniel          4333
2        2WnXYQFK0hXEoTxPtV2zvg        Steph           665
3        SZDeASXq7o05mMNLshsdIA         Gwen           224
4        hA5lMy-EnncsH4JoR-hFGQ        Karen            79
...                         ...          ...           ...
2105592  4QGxxakRZeOlg_qDuxmTeQ     Jennilee            38
2105593  tmelBbVBGAzXBVfH2u_R6g        Gerry            19
2105594  tpBznnD6uJN3m_pJubj09w        Emily            26
2105595  Kst_srPw7GdYydMFYdCtzw  Heatheranne            25
2105596  mZl-mH3ZIWLRSd_FfvrXFg      Jessica            30

[2105597 rows x 3 columns]>

In [89]:
df_review.sample()

,review_id,user_id,business_id,stars
22154,4Cl6MuA2PolcXm8lEvBZMg,GsxToKwvvToyST1KsmPs-A,Y2rYM2crYfTC25y6iquPgw,3

In [86]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  int64
dtypes: int64(1), object(3)
memory usage: 3.1+ MB

In [22]:
df_business.head()

,business_id,name,city,stars,attributes,categories
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,Green Lane,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
2,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
3,n_0UpQx1hsNbnPUSlodU8w,Famous Footwear,Brentwood,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,1.5,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."

In [30]:
df_combined.sample(5)

,review_id,user_id,business_id,stars_x,name_x,review_count,name_y,city,stars_y,attributes,categories
65609,UN7Yz1uGluQzEs2w7zmNmQ,7qBgGzyf0FbHKC0jiI1J8A,BWITd9JUXP3gSi1z3Y-z8g,4,Sarah,357,In Riva,Philadelphia,4.0,"{'GoodForKids': 'True', 'BusinessParking': ""{'...","Italian, Food, Nightlife, Pizza, Bars, Cocktai..."
95842,0_Iidc1JlBbdmcrD07B5mQ,KCChWSi2UKmlj3bh97GG2w,RuuGJoMm2Y3wbLbPPHTvqw,5,Maria,233,Phily Diner & Sports Bar,Runnemede,3.0,"{'RestaurantsPriceRange2': '2', 'BYOBCorkage':...","Restaurants, Diners, Nightlife, Bars, Sports B..."
86044,fRLPt763X4McnrQZ6sJhXg,my1h9WPtzR6vbz4suxUNLA,0sr1EyOc6Td1C-962QW88w,1,Blake,106,La Cucina Italian Eatery,Conshohocken,4.0,"{'RestaurantsGoodForGroups': 'True', 'GoodForK...","Italian, American (Traditional), Pizza, Restau..."
85157,118JdbFoiltC6zgiBDFlOg,GfI-d9mQePFA2PvhAd4WGQ,-Or44IdY51Ukd618kikmtA,3,Robert,746,Federal Donuts,Philadelphia,4.0,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Restaurants, Donuts, Chicken Wings, Food, Coff..."
138114,smP69ykKlkAx8i2AffX8MA,Vwslifegl59fQVOe5BH1gw,5vGeF12-lyJWAtuA03OGZA,4,Brittany,550,Social Modern Pub,Edmonton,4.0,"{'BusinessParking': ""{'garage': False, 'street...","Gastropubs, Pizza, Bars, Chicken Wings, Pubs, ..."

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import json
# CombinaciÃ³n de datos de usuarios, crÃ­ticas y negocios
df_combined = pd.merge(df_review, df_user, on='user_id')
df_combined = pd.merge(df_combined, df_business, on='business_id')

# CreaciÃ³n de una matriz de tÃ©rminos de documentos para las categorÃ­as de negocios
vectorizer = TfidfVectorizer()
business_categories_matrix = vectorizer.fit_transform(df_combined['categories'])

In [57]:
def obtener_recomendaciones_usuario(user_id, top_n=3):
    # Filtrar las crÃ­ticas del usuario dado
    user_reviews = df_combined[df_combined['user_id'] == user_id]
    
    if user_reviews.empty:
        return {"Error": f"No se encontraron crÃ­ticas para el usuario con id {user_id}"}
    
    # Calcular la similitud del coseno entre las categorÃ­as de negocios del usuario y todos los negocios
    user_categories_vector = vectorizer.transform(user_reviews['categories'])
    similarities = cosine_similarity(user_categories_vector, business_categories_matrix)
    
    # Obtener los Ã­ndices de los negocios mÃ¡s similares
    similar_business_indices = similarities.argsort(axis=1)[:, ::-1]
    
    # Obtener las recomendaciones de negocios y filtrar duplicados
    recommendations = []
    seen = set()  # Para rastrear los negocios que ya hemos recomendado
    for indices in similar_business_indices:
        for index in indices:
            business_name = df_combined.iloc[index]['name_y']
            if business_name not in seen:
                categories = df_combined.iloc[index]['categories'].split(', ')
                recommendation = {
                    "restaurant": business_name,
                    "categories": categories
                }
                recommendations.append(recommendation)
                seen.add(business_name)
                if len(recommendations) == top_n:
                    return recommendations  # Salir si ya hemos obtenido suficientes recomendaciones
    
    # Devolver todas las recomendaciones encontradas si no hemos alcanzado top_n
    return recommendations

In [58]:
def obtener_info_usuario(user_id, top_n=3):
    # Filtrar las crÃ­ticas del usuario dado
    user_reviews = df_combined[df_combined['user_id'] == user_id]
    
    if user_reviews.empty:
        return {"Error": f"No se encontraron crÃ­ticas para el usuario con id {user_id}"}
    
    # Obtener el nombre del usuario
    user_name = user_reviews['name_x'].iloc[0]
    
    # Obtener todas las categorÃ­as de los restaurantes revisados por el usuario
    all_categories = ', '.join(user_reviews['categories']).split(', ')
    
    # Contar la frecuencia de cada categorÃ­a
    category_counts = {}
    for category in all_categories:
        category_counts[category] = category_counts.get(category, 0) + 1
    
    # Ordenar las categorÃ­as por frecuencia y obtener las top_n categorÃ­as mÃ¡s comunes
    favorite_categories = sorted(category_counts, key=category_counts.get, reverse=True)[:top_n]
    
    # Crear el diccionario JSON
    user_info = {
        "name": user_name,
        "favorite": favorite_categories
    }
    
    return user_info

In [59]:
obtener_info_usuario('KCChWSi2UKmlj3bh97GG2w')

{'name': 'Maria', 'favorite': ['Restaurants', 'Diners', 'Nightlife']}

In [60]:
# Ejemplo de uso
user_id = 'KCChWSi2UKmlj3bh97GG2w'  # Coloca aquÃ­ el ID del usuario para el que deseas obtener recomendaciones
recomendaciones = obtener_recomendaciones_usuario(user_id)
print(recomendaciones)

[{'restaurant': 'Phily Diner & Sports Bar', 'categories': ['Restaurants', 'Diners', 'Nightlife', 'Bars', 'Sports Bars', 'American (Traditional)']}, {'restaurant': "Famous Sam's", 'categories': ['Bars', 'Restaurants', 'Nightlife', 'American (Traditional)', 'Sports Bars']}, {'restaurant': "Fatty's Bar & Grill", 'categories': ['Bars', 'Nightlife', 'Sports Bars', 'Restaurants', 'American (Traditional)']}]

In [61]:
df_combined.to_csv('modeloml2.csv')

In [68]:
# Obtener una lista de IDs de usuarios Ãºnicos
lista_ids_usuarios = df_combined['user_id'].unique().tolist()

# Crear un DataFrame con la lista de IDs de usuarios Ãºnicos
df_ids_usuarios = pd.DataFrame({'user_id': lista_ids_usuarios})

# Guardar el DataFrame como un archivo CSV
df_ids_usuarios.to_csv('ids_usuarios.csv', index=False)

In [72]:
# Crear una lista para almacenar los datos de salida de la funciÃ³n
df_ids_usuarios = pd.read_csv('ids_usuarios.csv')

# Convertir la columna 'user_id' a una lista
lista_ids_usuarios = df_ids_usuarios['user_id'].tolist()[:500]
data = []

# Iterar sobre los IDs de usuario y llamar a la funciÃ³n obtener_info_usuario para cada uno
for user_id in lista_ids_usuarios:
    user_info = obtener_info_usuario(user_id)
    data.append(user_info)

# Crear un DataFrame a partir de la lista de diccionarios
df_user_info = pd.DataFrame(data)

In [65]:
info_usuario = obtener_info_usuario('KCChWSi2UKmlj3bh97GG2w')

# Obtener el nombre del usuario y sus preferencias
nombre_usuario = info_usuario['name']
preferencias = info_usuario['favorite']

In [66]:
nombre_usuario

'Maria'

In [67]:
preferencias

['Restaurants', 'Diners', 'Nightlife']

In [2]:
import pandas as pd

In [3]:
df_csv= pd.read_csv("modeloml2.csv")
df_csv.head(5)

,Unnamed: 0,review_id,user_id,business_id,stars_x,name_x,review_count,name_y,city,stars_y,attributes,categories
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,Melanie,33,Turning Point of North Wales,North Wales,3.0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B..."
1,1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,John,9,Turning Point of North Wales,North Wales,3.0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B..."
2,2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,Stella,156,Turning Point of North Wales,North Wales,3.0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B..."
3,3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3,Stephanie,196,Turning Point of North Wales,North Wales,3.0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B..."
4,4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2,Lauren,17,Turning Point of North Wales,North Wales,3.0,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...","Restaurants, Breakfast & Brunch, Food, Juice B..."

In [4]:
df_csv.to_parquet("modeloml2.parquet")