In [15]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import ast

In [16]:
df_business= pd.read_csv("./databusinessML2.csv")
df_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114118 entries, 0 to 114117
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    114118 non-null  int64
 1   business_id   114118 non-null  object
 2   name          114118 non-null  object
 3   address       114118 non-null  object
 4   city          114118 non-null  object
 5   state         114118 non-null  object
 6   postal_code   114118 non-null  object
 7   latitude      114118 non-null  float64
 8   longitude     114118 non-null  float64
 9   stars         114118 non-null  float64
 10  review_count  114118 non-null  int64
 11  is_open       114118 non-null  int64
 12  attributes    114118 non-null  object
 13  categories    114118 non-null  object
 14  hours         114118 non-null  object
dtypes: float64(3), int64(3), object(9)
memory usage: 13.1+ MB

In [23]:
df_business.head()

,Unnamed: 0,stars,attributes,categories
0,0,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,1,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
2,2,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
3,3,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."
4,4,1.5,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."

In [ ]:
df_business=df_business.drop(columns=['business_id','name','address','city','state','postal_code','latitude','longitude','review_count','is_open','hours'])

In [26]:
df_business.head()

,Unnamed: 0,stars,attributes,categories
0,0,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
1,1,4.5,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"
2,2,2.0,"{'BusinessParking': 'None', 'BusinessAcceptsCr...","Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
3,3,2.5,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Sporting Goods, Fashion, Shoe Stores, Shopping..."
4,4,1.5,"{'RestaurantsAttire': ""'casual'"", 'Restaurants...","Ice Cream & Frozen Yogurt, Fast Food, Burgers,..."

In [20]:
df_business.to_csv('./businessmodelo.csv')